{% extends 'app/main.html' %}

{% block content %}
<div class="w-100">
    <h5>Lista de comercios</h5>
    <a class="btn btn-primary" href="{% url 'ingresar_comercio'%}">Ingresar comercio</a>
    <hr>
    <div class="card card-body overflow-auto max-h-250">
        <table class="table table-sm">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Direccion</th>
                <th>Modificar</th>
                <th>Estado</th>
            </tr>

            {% for comercio in comercios %}
            <tr>
                <td><a class="link-dark" href="{% url 'comercio' comercio.id %}">{{comercio.nombre}}</a></td>   
                <td>{{comercio.descripcion}}</td>
                <td>{{comercio.direccion}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'modificar_comercio' comercio.id %}">Modificar</a></td>
                {% if not comercio.is_active %}
                    <td><a class="btn btn-sm btn-danger" href="">Deshabilitado</a></td>
                    {% else %}
                    <td><a class="btn btn-sm btn-success" href="">Habilitado</a></td>
                    {% endif %}
            </tr>
            {% endfor %}
    
        </table>
    </div>
</div>
{% endblock %}