{% extends 'app/main.html' %}

{% block content %}

<div class="container-fuild">

    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body justify-content-evenly">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
                <br>
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Email</th>
                    </tr>

                    
    
                </table>
            </div>
        </div>
    
        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body overflow-auto max-h-250">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    
            
                </table>
            </div>
        </div>
    
    </div>
</div>

{% endblock %}