{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Seguro que deseas deshabilitar? "{{comercio}}"</p>

            <form action="{% url 'deshabilitar_comercio' comercio.id %}" method="POST">
                {% csrf_token %}

                <a class="btn btn-sm btn-warning" href="{% url 'administrar_comercio' %}">Cancelar</a>

                <input class="btn btn-sm btn-danger" type="submit" value="Remove">
            </form>

        </div>
    </div>
</div>


{% endblock %}