{% extends 'app/main.html' %}
{% load static %}
{% block content %}

    {% include 'app/menu_card_l.html' %}
    <hr>
    <div class="d-flex justify-content-evenly">
        <h5 class="bg-warning text-dark">Por favor, lee nuestras <a class="link-dark" target="_blank" href="https://raw.githubusercontent.com/lcc-usach-is/junadvisor/main/community-norms.txt">normas de la comunidad</a> antes de comentar</h5>
    </div>
    <hr>
    {% if comento %}
        <div class="d-flex justify-content-evenly">
            <h5 class="bg-danger">Ya comentaste este menu</h3>
        </div>
    {% else %}
        {% if not request.user.is_authenticated %}
            <div class="d-flex justify-content-evenly">
                <h5 class="bg-danger">Necesitas iniciar sesion como estudiante para comentar</h5>
            </div>
        {% elif request.user.is_authenticated and not request.user.is_staff%}  
            <div class="row">
            <hr>  
        {% include 'app/comentario_form.html' %}
            </div>

        {% endif %}
    {% endif %}

    {% for comentario in comentarios %}
    <hr>
    <div class="d-flex flex-start flex-wrap">
        {% if comentario.estudiante.profile_pic %}
        <img src="{{comentario.estudiante.profile_pic.url}}" class="profile-pic">
        {% else %}
        <img src="{% static 'images/default-profile-pic.png' %}" class="profile-pic">
        {% endif %}
        <div class="card flex-fill">
            <div class="d-flex align-items-center flex-row p-2">
                <h5 class="card-title p-2">{{comentario.estudiante.first_name}} {{comentario.estudiante.last_name}}</h5>
                {% if request.user.is_staff %}
                <a class="btn btn-sm btn-danger ms-2" href="{% url 'deshabilitar_comentario' comentario.id %}">Deshabilitar</a>
                {% endif %}
                <h3 class="ms-auto bg-warning">{{comentario.calificacion}}</h3>
            </div>
            <p class="comentario p-2">{{comentario.contenido}}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}