{% extends 'app/main.html' %}
{% load static %}
{% block content %}

    <div class="card menu">
        <div class="card-header">
            <div class="d-flex flex-row">
                <h3>{{menu.titulo}}</h3>
                <h3 class="ms-auto bg-warning">${{menu.precio}}</h3>
            </div>
        </div>
        <div class="card-body">
                <p>{{menu.descripcion}}</p>
        </div>
        {% if menu.menu_pic %}
        <img src="{{ menu.menu_pic.url }}" class="card-img-bottom" alt="...">
        {% else %}
        <p>No hay imagen</p>
        {% endif %}
    </div>

    {% if request.user.is_authenticated and not request.user.is_staff %}  
<div class="row">
    <hr>  
    {% include 'app/comentario_form.html' %}
</div>
{% endif %}

    {% for comentario in comentarios %}
    <hr>
    <div class="d-flex flex-start flex-wrap">
        <img src="{{comentario.estudiante.profile_pic.url}}" class="profile-pic">
        <div class="card flex-fill">
            <div class="d-flex align-items-center flex-row">
                <h3 class="menu-title">{{comentario.estudiante.first_name}} {{comentario.estudiante.last_name}}</h3>
                {% if request.user.is_staff %}
                <a class="btn btn-sm btn-danger" href="{% url 'deshabilitar_comentario' comentario.id %}">Deshabilitar</a>
                {% endif %}
                <h3 class="ms-auto bg-warning">{{comentario.calificacion}}</h3>
            </div>
            <p class="comentario">{{comentario.contenido}}</p>
        </div>
    </div> 
    {% endfor %}

{% endblock %}