{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card card-body">
            <div class="form-group">
                <form class="flex-column" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}

                    <input class="btn btn-sm btn-primary" type="submit" name="Submit">
                    <a class="btn btn-sm btn-warning" href="{% url 'home' %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}